{% extends 'headandfoot/layout.html' %}
{% load static %}

{% block title %}
Login - {{ role|title }}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}?v=2">
<div class="form-section">
    <h2>{{ role|title }} Login</h2>
    
    <form method="post" action="{% url 'login' %}?role={{ role }}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    
    <div class="forgot">
        <a href="/custom_password_reset/">forgot password?</a>
    </div>
</div>
{% endblock %}